body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

button img{
    width: 150px;
    height: auto;

}

li button span{
    font-size: large;
    font-weight: 700;
}

.button-section{
    display: flex;
    list-style: none;
    padding-left: 0px;
    gap: 20px;
}

.who-wins{
    font-size: large;

}